<!-- Validation failure messages -->
<% if @list_following.errors.any? %>
  <% @list_following.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add List Following</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_list_following" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @list_following.user_id %>">
      </div>

      <!-- Label and input for board_id -->
      <div class="form-group">
        <label for="board_id" class="control-label">
          Board
        </label>

        <input type="text" id="board_id" name="board_id" placeholder="Board" class="form-control" value="<%= @list_following.board_id %>">
      </div>

      <!-- Label and input for list_id -->
      <div class="form-group">
        <label for="list_id" class="control-label">
          List
        </label>

        <input type="text" id="list_id" name="list_id" placeholder="List" class="form-control" value="<%= @list_following.list_id %>">
      </div>

      <button class="btn btn-success">
        Create List Following
      </button>
      or
      <a href="/list_followings">Cancel</a>
    </form>
  </div>
</div>
