<div class="page-header">
  <h3>
    <%= @board.name %>
  </h3>

  <div class="btn-group">
    <a href="/boards" class="btn btn-default btn-sm">
      <i class="fa fa-chevron-left"></i>
    </a>
    <% if current_user.id == @board.user_id %>
      <a href="/boards/<%= @board.id %>/edit" class="btn btn-default btn-sm">
        <i class="fa fa-edit fa-fw"></i>
      </a>
      <a href="/delete_board/<%= @board.id %>" class="btn btn-default btn-sm" rel="nofollow">
        <i class="fa fa-trash-o fa-fw"></i>
      </a>
    <% end %>
  </div>
</div>

<div class="row row-horizon">
  <% @board.lists.each do |list| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/lists/<%= list.id %>/edit">
              <%= list.name %>
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <% list.cards.each do |card| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="/cards/<%= card.id %>/edit">
                    <%= card.name %>
                  </a>
                </h4>
              </div>
              <div class="panel-body">
                <p>
                  <%= card.description %>
                </p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="panel-footer">
          <form action="/create_card" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for name -->
            <div class="form-group">
              <label for="name" class="control-label">
                Name
              </label>

              <input type="text" id="name" name="name" placeholder="Name" class="form-control">
            </div>

            <!-- Label and input for description -->
            <div class="form-group">
              <label for="description" class="control-label">
                Description
              </label>

              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
            </div>

            <!-- Hidden input for list_id -->
            <input type="hidden" name="list_id" value="<%= list.id %>">

            <button class="btn btn-success btn-block">
              Create Card
            </button>
          </form>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Add a new list
        </h3>
      </div>
      <div class="panel-body">
        <form action="/create_list" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Name
            </label>

            <input type="text" id="name" name="name" placeholder="Name" class="form-control">
          </div>

          <!-- Hidden input for board_id -->
          <input type="hidden" name="board_id" value="<%= @board.id %>">

          <button class="btn btn-success btn-block">
            Create List
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
